<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:c="http://java.sun.com/jsp/jstl/core"
   xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><h:outputText value="#{msgs.title}"></h:outputText></title>
<style type="text/css">
      html { 
  background: url(images/reddit_logo8.jpg) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.classname:active {
	position:relative;
	top:1px;
}
</style>





</h:head>

<h:body style="width: 1200px;" >
   <f:view locale="#{languageBean.locale}">
    <h:form>
    <h2>
    <h:outputText value="#{msgs.title} " ></h:outputText>
    <h:outputText value="    "></h:outputText>
    
    <h:outputText value=" "></h:outputText>
     <h:commandButton class="classname" value="#{msgs.loginButton}" action="login.xhtml" style="width: 153px; "></h:commandButton>  <br /><br /><h:outputText value="#{msgs.doRegister} "></h:outputText>  <h:commandButton href="#" class="classname" value="#{msgs.registerButton}" action="register.xhtml" style="width: 209px; ">	</h:commandButton><br />
    </h2>
   </h:form>
   <h:form>
   <h2>
   <h:outputText value="#{submissionBean.submissionVoteCount}   "></h:outputText>
   <p:button href="#{submissionBean.submissionLinkString}" value="#{submissionBean.submissionTitle}" />
   <br/>
   </h2>
   </h:form>
   <h4>
   
   <h:outputText value=" #{msgs.submitted} " style="color: #FF0000"></h:outputText>
   <h:outputText value="#{submissionBean.submissionTimestamp} " style="color: #FF0000"></h:outputText>
   <h:outputText value=" #{msgs.submitter} " style="color: #FF0000"></h:outputText> 
   <h:outputText value="#{submissionBean.submissionAuthor}" style="color: #0080FF; text-decoration: underline"></h:outputText>
   <br/> 
   <h:form>
      <h:commandButton class="classname" value="#{msgs.backToFrontpage}" action="#{submissionBean.leaveSubmission}" style="width: 258px; ">
      </h:commandButton>
   </h:form>
   
   </h4>
   <h6>
   <h:form style="background-image:url(images/abstract5.jpg);" > 
      <p:panel style="background-image:url(images/abstract5.jpg);" id="submissionDataPanel" header="#{submissionBean.selectedSubmission.amountOfComments} #{msgs.commentLogs}">
         <c:forEach items="#{submissionBean.selectedSubmission.submissionComments}" var="item">
         
         <h:outputText value="#{item.commentContent}" style="color: #FFFFFF"></h:outputText><br /><h:outputText value="#{item.commentVoteCount}  " style="color: #FFFFFF"></h:outputText>
            <br/><h:outputText value="#{item.commentAuthor} " style="color: #0080FF; font-size: 14px; text-decoration: underline"></h:outputText>
            <h:outputText value="#{item.commentTimestamp}" style="color: #FF0000"></h:outputText>
            <p>_________________________________________________________________________________________________________________________________________________</p>
           
         <i>    </i>
            
         </c:forEach>
      </p:panel>
      <p:poll interval="3" update="submissionDataPanel" widgetVar="poll" autoStart="true"
       listener="#{submissionBean.selectedSubmission.pollListener}"></p:poll>  
   </h:form>
   </h6>

   </f:view>   
</h:body>
</html>