<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<style type="text/css">


      html { 
  background: url(images/reddit_logo8.jpg) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
       
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.classname:active {
	position:relative;
	top:1px;
}


.updawn{
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 20px 40px 20px;
border-color: transparent transparent #007bff transparent;
line-height: 0px;
_border-color: #000000 #000000 #007bff #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><h:outputText value="#{msgs.title}"></h:outputText></title>

</h:head>

<h:body style="width: 1218px; ">
	<f:view locale="#{languageBean.locale}">
    <h:form>
    <h2>
    <h:outputText value="#{msgs.greeting} "></h:outputText><h:outputText value="#{loginBean.loginName} "></h:outputText><h:outputText value="#{msgs.title}"></h:outputText>
    <h:outputText value="    "></h:outputText>
    
    <h:outputText value=" "></h:outputText>
    <h:commandButton class="classname" value="#{msgs.logoutButton}" action="#{frontpageBean.logout}" style="width: 169px; "></h:commandButton>
    <h:outputText value=" "></h:outputText>
    
    </h2>
	</h:form>
	<h:form>
	<h2>
	<h:outputText value="#{submissionBean.submissionVoteCount}   " style="font-size: 12px; font-family: Verdana, Arial, Sans-Serif; border-top-style: none "></h:outputText>
	<p:button href="#{submissionBean.submissionLinkString}" value="#{submissionBean.submissionTitle}" />
	<br/>
	</h2>
	</h:form>
	<h4>
	<h:form>
	<h:commandButton class="classname" value="#{msgs.voteUp}" action="#{submissionBean.upVoteSubmission}" style="width: 134px; "></h:commandButton>-<h:commandButton class="classname" value="#{msgs.voteDown}" action="#{submissionBean.downVoteSubmission}" style="width: 148px; "></h:commandButton>
	</h:form>
	<br/>
	<h:outputText value=" #{msgs.submitted} " style="color: #FF0000"></h:outputText>
	<h:outputText value="#{submissionBean.submissionTimestamp} " style="color: #FF0000"></h:outputText>
	<h:outputText value=" #{msgs.submitter} " style="color: #FF0000"></h:outputText> 
	<h:outputText value="#{submissionBean.submissionAuthor}" style="color: #0080FF; text-decoration: underline"></h:outputText>
	<br/>	
	<h:form id="newCommentForm">
		<h:panelGrid border="0" columns="2" style="width: 799px; ">
			<h:inputText id="newComment" value="#{submissionBean.message}" required="true" size="80">
			</h:inputText>
			<h:commandButton class="classname" value="#{msgs.sendButton}" action="#{submissionBean.addCommentEntry}" style="width: 129px; ">
			</h:commandButton>
		</h:panelGrid>
		<h6>
			
   		</h6>
	</h:form>


	<h:form>
		<h:commandButton class="classname" value="#{msgs.backToFrontpage}" action="#{submissionBean.leaveSubmission}" style="width: 236px; ">
		</h:commandButton>
	</h:form>
	
	</h4>
	<h6>
	<h:form style="width: 1200px; ">	
		<p:panel style="background-image:url(images/abstract5.jpg);" id="submissionDataPanel" header="#{submissionBean.selectedSubmission.amountOfComments} #{msgs.commentLogs}">
			<c:forEach items="#{submissionBean.selectedSubmission.submissionComments}" var="item">
				
				
				<h1>________________________________________________________________________</h1><h:outputText value="#{item.commentContent}" style="font-size: 16px; color: #FFFFFF"></h:outputText><br/>
				<h:outputText value="#{item.commentAuthor} " style="color: #0080FF; text-decoration: underline blink"></h:outputText>
				<h:outputText value="#{item.commentTimestamp}" style="color: #FF0000"></h:outputText>
				<br/>
			<i>	 </i>
				<br /><h:outputText value="#{item.commentVoteCount}  " style="color: #FFFFFF"></h:outputText><h:commandButton class="classname" value="#{msgs.voteUp}" action="#{submissionBean.findCommentAndUpvote}" style="width: 137px; ">
				<f:param name="commentId" value="#{item.commentId}" />
				</h:commandButton>-<h:commandButton class="classname" value="#{msgs.voteDown}" action="#{submissionBean.findCommentAndDownvote}" style="width: 129px; ">
				<f:param name="commentId" value="#{item.commentId}" />
				</h:commandButton><br/>
			</c:forEach>
		</p:panel>
		<p:poll interval="3" update="submissionDataPanel" widgetVar="poll" autoStart="true"
		 listener="#{submissionBean.selectedSubmission.pollListener}"></p:poll>  
	</h:form>
	</h6>

	</f:view>	
</h:body>
</html>