<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" >
      
<h:head>
   
	<style type="text/css">
	
	      html { 
  background: url(images/reddit_logo8.jpg) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
	
	.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.classname:active {
	position:relative;
	top:1px;
}



</style>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>
         <h:outputText value="#{msgs.title}">
         </h:outputText>
      </title>
   </h:head>
   <h:body>
   
      <f:view locale="#{languageBean.locale}">
      <h2>
         <p:panel style=" background-image:url(images/abstract2.jpg); width: 480px;" id="frontpagePanel">

            <h:form>
            	<h:outputText value= " #{msgs.greeting}  " style="font-size: 24px; color: #FFFFFF"> </h:outputText>    <h:outputText value= " #{loginBean.loginName} " style="font-size: 24px; color: #FFFFFF"> </h:outputText> <h:commandButton href="#" class="classname" value="#{msgs.logoutButton}" action="#{frontpageBean.logout}" style="width: 220px; font-size: 16px"></h:commandButton><br /><br /><h:outputText value="#{msgs.title}     " style="font-size: 24px; color: #FFFFFF">        </h:outputText>               
            	    <h:commandButton href="#" class="classname" value=" #{msgs.submitLinkButton}" action="submitLink.xhtml" style="width: 231px; font-size: 16px; "></h:commandButton><br /><h:outputText value=""></h:outputText>
      			<br />
      			
            </h:form>
         </p:panel>
      </h2>
      <h4>
		<h:form style="width: 1200px;   ">	
			<p:panel style="background-image:url(images/abstract5.jpg);" id="allSubmissionsPanel">
				<c:forEach items="#{submissionManager.submissionsVector}" var="item">
					<h:outputText value="#{item.submissionVoteCount}   " style="color: #FFFFFF"></h:outputText>
					<p:button href="#{item.submissionLinkString}" value="#{item.submissionTitle}" />
					<br/>
					<h:commandButton href="#" class="classname" value="#{msgs.voteUp}" action="#{frontpageBean.findSubmissionAndUpvote}" style="width: 169px; ">
					<f:param name="title" value="#{item.submissionTitle}" /> 
					</h:commandButton>-<h:commandButton href="#" class="classname" value="#{msgs.voteDown}" action="#{frontpageBean.findSubmissionAndDownvote}" style="width: 167px; ">
					<f:param name="title" value="#{item.submissionTitle}" /> 
					</h:commandButton>
					<br/>
					<h:outputText value=" #{msgs.submitted} " style="color: #FFFFFF"></h:outputText>
					<h:outputText value="#{item.submissionTimestamp} " style="color: #FFFFFF"></h:outputText>
					<h:outputText value=" #{msgs.submitter} " style="color: #FFFFFF"></h:outputText> 
					<h:outputText value="#{item.submissionAuthor}" style="color: #FFFFFF"></h:outputText>
					<br/>
					<h:commandButton href="#" class="classname" value="#{item.amountOfComments} #{msgs.comments}" action="#{frontpageBean.openDetailViewPage}" style="width: 184px; ">
					<f:param name="title" value="#{item.submissionTitle}" /> 
					</h:commandButton>
					 <p>________________________________________________________________________________________________</p>
           
					
				</c:forEach>
			</p:panel>
			<p:poll interval="3" update="allSubmissionsPanel" widgetVar="poll" autoStart="true"></p:poll>  
		</h:form>
	 </h4>

      </f:view>
   </h:body>
</html>