<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" >
<h:head style="width: 752px; ">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><h:outputText value="#{msgs.title}"></h:outputText></title>


<style type="text/css">
      html { 
  background: url(images/reddit_logo8.jpg) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.classname:active {
	position:relative;
	top:1px;
}









</style>



</h:head>
<h:body style="width: 530px; height: 836px; ">

<h1>
		<h:outputText  value="#{msgs.welcome}" style="color: #000000; font-family: Verdana, Arial, Sans-Serif"><f:convertDateTime></f:convertDateTime></h:outputText>
		
</h1>

<h4>
	<h:form style="width: 334px; ">
		<h:panelGrid border="0" columns="3" style="width: 330px; ">
			<h:outputText value="#{msgs.languageSelection}"></h:outputText><h:selectOneMenu id="langSel" value="#{languageBean.localeString}" onchange="submit()" valueChangeListener="#{languageBean.countryLocaleCodeChanged}" style="width: 104px; ">
   				<f:selectItems value="#{languageBean.countriesInMap}" /> 
   			</h:selectOneMenu>
 			
		</h:panelGrid>
	</h:form>

</h4><h6><p:panel style=" background-image:url(images/abstract2.jpg);" id="chatUsersPanel" header="#{msgs.doLogin}" >
	
	

			<h:form id="formLogin" style="width: 499px; ">
					<p:message for="buttonLogin" style="color:red;
		    						font-family: 'New Century Schoolbook', serif;
		    						font-style: oblique;
		    						text-decoration: overline"/>
					<h:panelGrid border="0" columns="3" cellpadding="5" style="width: 358px; height: 94px; ">
						<h:outputText value="#{msgs.nickName}" style="color: #FFFFFF"></h:outputText>
						<h:inputText id="nickName" value="#{loginBean.name}" required="true" validator="#{loginBean.checkLogin}"></h:inputText>
						<p:message for="nickName" style="color:red;
		    						font-family: 'New Century Schoolbook', serif;
		    						font-style: oblique"/>
						<h:outputText value="#{msgs.password}" style="color: #FFFFFF"></h:outputText>
						<h:inputSecret id="password" value="#{loginBean.password}" required="true"></h:inputSecret>
						<p:message for="password" style="color:red;
		    						font-family: 'New Century Schoolbook', serif;
		    						font-style: oblique"/>
					</h:panelGrid><h:commandButton href="#" class="classname" id="buttonLogin" value="#{msgs.loginButton}" action="#{loginBean.login}" style="width: 166px; ">
					</h:commandButton> 
					<br />
					<h:outputText value="#{msgs.doRegister}" style="color: #FFFFFF"></h:outputText><br/>
					
			</h:form>
			<h:form style="width: 377px; ">
			
			<h:commandButton href="#" class="classname" value="#{msgs.registerButton}" action="register.xhtml" style="width: 166px; ">	</h:commandButton><br /><h:outputText  value="#{msgs.continueUnlogged}" style="color: #FFFFFF"></h:outputText><br /><h:commandButton href="#" class="classname" value="#{msgs.goToFrontpage}" action="frontpageLoggedOut.xhtml" style="width: 166px; "></h:commandButton><br/>
			
			</h:form>
		</p:panel>
	
</h6>

</h:body>
</html>










