<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
      	xmlns:ui="http://java.sun.com/jsf/facelets" >
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><h:outputText value="#{msgs.title}"></h:outputText></title>

<style type="text/css">

      html { 
  background: url(images/reddit_logo8.jpg) no-repeat  fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.classname:active {
	position:relative;
	top:1px;
}
</style>



</h:head>
<h:body style="width: 500px;  ">
	<f:view locale="#{languageBean.locale}">
	<h6>
		<p:panel  style=" background-image:url(images/abstract2.jpg);" id="registryPanel" header="#{msgs.registry}" >
		    <p>
		       <!-- <p:messages style="color: red;
    						font-family: 'New Century Schoolbook', serif;
    						font-style: oblique"/>  -->
		    </p>
	
			<h:form  style="width: 357px; height: 184px;    ">
				<h:panelGrid border="0" columns="3" style="height: 147px; ">
					<h:outputText value="#{msgs.nickName}" style="color: #FFFFFF"></h:outputText>
					<h:inputText id="nickName" value="#{registerBean.login}" 
						validator="#{registerBean.validateNickName}" required="true">
						<f:validateLength minimum="3" maximum="15"/>
					</h:inputText>
					<p:message for="nickName" style="color:red;
    						font-family: 'New Century Schoolbook', serif;
    						font-style: oblique"/>
		
					<h:outputText value="#{msgs.password}" style="color: #FFFFFF"></h:outputText>
					<h:inputSecret id="password" value="#{registerBean.password}" required="true">
						<f:validateLength minimum="3" maximum="25"/> 
					    <f:validator validatorId="confirmPasswordValidator" />
    					<f:attribute name="password2" value="#{confirmPassword.submittedValue}" />
    					<f:ajax event="blur" execute="password password2" render="m_password" />
					</h:inputSecret> 
					<p:message id="m_password" for="password" style="color:red;
    						font-family: 'New Century Schoolbook', serif;
    						font-style: oblique"/>	
					<h:outputText value="#{msgs.password}" style="color: #FFFFFF"></h:outputText>
					<h:inputSecret id="password2" binding="#{confirmPassword}" required="true">
						<f:ajax event="blur" execute="password password2" render="m_password m_password2" />
					</h:inputSecret> 
					<p:message id="m_password2" for="password2" style="color:red;
    						font-family: 'New Century Schoolbook', serif;
    						font-style: oblique"/>	
					
				</h:panelGrid>
				<h:commandButton href="#" class="classname" value="#{msgs.submitButton}" action="#{registerBean.register}" style="width: 110px; "></h:commandButton>
						
			</h:form>
		</p:panel>
			<h:form><h5><h:outputText value="#{msgs.goToLogin}" style="font-size: 16px"></h:outputText>
			<br />
			<h:commandButton href="#" class="classname" value="#{msgs.loginButton}" action="login.xhtml" style="width: 143px; "></h:commandButton>
			<br /><br />
			<h:outputText value="#{msgs.continueUnlogged}" style="font-size: 16px"></h:outputText>
			<br />
			<h:commandButton href="#" class="classname" value="#{msgs.goToFrontpage}" action="frontpageLoggedOut.xhtml" style="width: 144px; ">
			</h:commandButton></h5>
			</h:form>
		
	</h6>
	
	</f:view>
</h:body>
</html>