<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
      	xmlns:ui="http://java.sun.com/jsf/facelets" >
<h:head >
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><h:outputText value="#{msgs.title}"></h:outputText></title>
<style type="text/css">

            html { 
  background: url(images/reddit_logo8.jpg) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.classname:active {
	position:relative;
	top:1px;
}
</style>
</h:head>
<h:body  style="width: 480px; ">
	<f:view  locale="#{languageBean.locale}">
	
		<p:panel id="registryPanel" header="#{msgs.submitLinkText}" >
		    <p>
		       <!-- <p:messages style="color: red;
    						font-family: 'New Century Schoolbook', serif;
    						font-style: oblique"/>  -->
		    </p>
	    <h:form   >
	    <h2>
    <h:outputText value="#{msgs.title}"></h:outputText><br />
    <h:outputText value="    "></h:outputText>
    <h:outputText value="#{msgs.greeting} "></h:outputText>
    <h:outputText value=" "></h:outputText>
    <h:outputText value="#{loginBean.loginName} "></h:outputText>
    <h:outputText value=" "></h:outputText>
    <h:commandButton class="classname" value="#{msgs.logoutButton}" action="#{frontpageBean.logout}" style="width: 183px; font-size: 18px; "></h:commandButton>
    </h2>
	</h:form>
	<h:form>
	<h4>
	<h:outputText value="#{msgs.submitEncourage} "></h:outputText>
	</h4>
	</h:form>
	
			<h:form>
			<h6>
				<h:panelGrid border="0" columns="3">
					<h:outputText value="#{msgs.linkTitle}"></h:outputText>
					<h:inputText id="submissionTitle" value="#{frontpageBean.newSubmissionTitle}" required="true" style="width: 357px; ">
					<!-- TODO: Validate submission title -->
					</h:inputText>
					<p:message for="submissionTitle" style="color:red;
    						font-family: 'New Century Schoolbook', serif;
    						font-style: oblique"/>
		
					<h:outputText value="#{msgs.linkUrl}"></h:outputText>
					<h:inputText id="name" value="#{frontpageBean.newSubmissionUrl}" required="true" style="width: 357px; ">
						<!-- TODO: Validate URL -->
					</h:inputText>
					<p:message for="name" style="color:red;
    						font-family: 'New Century Schoolbook', serif;
    						font-style: oblique"/>	
					
					
				</h:panelGrid>
				<h:commandButton class="classname" value="#{msgs.submitLinkButton}" action="#{frontpageBean.addSubmission}" style="width: 175px; "></h:commandButton>
			</h6>					
			</h:form>
		</p:panel>
	
	</f:view>
</h:body>
</html>